/* ----------------------------------------------------------------

	404.scss

-----------------------------------------------------------------*/
.error-404 {
    img {
        height: 45rem;
        object-fit: cover;
    }
}

.error-content {
    position: absolute;
    width: 100%;
    bottom: 10rem;
}