
/*-----------------------------------------------------------------------------------

	Form: form.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Form Styles
-----------------------------------------------------------------*/
#subscribe {
    padding: 5rem 0;
}

.subscribe-thumbnail {
    position: absolute;
    right: 0;
    top: -9rem;
    z-index: -1;

    img {
        max-width: 100%;
    }
}

#subscribe-form {
    ::placeholder {
        color: $white;
    }
}