
/*-----------------------------------------------------------------------------------

	Shortcodes: feature-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Featured Boxes
-----------------------------------------------------------------*/

.fbox {	
	flex: 1;
	position: relative;
	margin-bottom: 1.875rem;

	.fbox-header {
		h5 {
			font-size: 1.125rem;
		}
		
		p {
			font-size: 0.75rem;
		}
	}
}